.App {
  background-color: #f4f4f4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 0.5vmin);
  color: rgb(0, 0, 0);
}

.Content {
  width: 60%;
  margin: auto;
}

.Card {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 3;
  outline: solid 1px rgb(0, 0, 0);
  padding: 2%;
  margin: 2% 0;
}

.Card > span > button {
  float: right;
  margin-left: 1%;
}

.Description {
  height: 8rem;
}

.Validation {
  color: red;
  font-size: 12px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
